.custom-header {
    position: relative;
    background: url('../images/sun.gif') center/cover no-repeat;
    min-height: 150px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.custom-header::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.06);
    z-index: 1;
}

.header-content{
    position: relative;
    z-index: 2;
    padding: 2rem, 1rem;
}

.bg-custom-backgroud{
    background: linear-gradient(135deg, rgb(136, 91, 240), rgb(202, 106, 237));
}

.text-custom {
    color:rgb(234, 145, 21)
}

@media (max-width: 760px) {
    .costom-header{
        min-height: 160px;
    }

    .header-content {
        font-size: 1.5rem;
    }
}

.bg-light-custom {
    position: relative;
    background: url('../images/main_fon_gif.gif') center/cover no-repeat;
    min-height: 70px;
    color: white;
}

.bg-main-custom{
    position: relative;
    background: url('../images/main.gif') center/cover no-repeat;
}

.card-shadow-custom {
    box-shadow: 3px 3.4px 10px rgba(18, 255, 176, 0.7);
}

.bg-c {
    background: linear-gradient(136deg, #510dfc, #9c75ff);
}